header {
    background-color: rgba(242, 233, 221, 0.70);
}

footer {
    background-color: rgba(1, 7, 14, 0.70);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

body {
    margin: auto;
    /*width: 1000px; !* force page width *!*/
    background-image: url("#{resource['default/img/pattern4.png']}");
    background-repeat: repeat;
}

nav {
    background-color: rgba(242, 233, 221, 0.70);
}

/* Menu bars are usually made as styled lists. */
nav ul {
    list-style-type: none; /* Remove bullets. */
    margin: 0px;
    padding: 0px;
    overflow: hidden; /*ignore (hide) if content overflows an element's box*/
}

nav ul li {
    display: inline-block; /* Put list items next to each other in horizontal line. */
    float: left;
    width: 25%;
}

nav ul li a {
    display: block; /* Make whole link box clickable and size-adjustable (above width 25%). */
    padding: 12px;
    text-align: center;
    font-size: larger;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize; /* Make menu bar items Uppercase*/
    color: inherit; /*disable color change (after link is visited), could also set fixed text color (eg. black)*/
}

nav ul li a:hover {
    background-color: rgba(240, 233, 29, 0.60);
    text-decoration: overline underline;
    background-blend-mode: color;
}

section {
    background-color: rgba(46, 86, 132, 0.50);
    margin-bottom: 0px;
    padding: 1px;
}

section h1, h2, h3, h4, h5, h6 { /*every header in each section should be UPPERCASE*/
    text-transform: uppercase;
}

section h4 {
    margin: 0px;
}

section p, section summary {
    margin-right: 10px;
    margin-left: 10px;
    text-align: justify;
}

article aside {
    margin-left: 10px;
    margin-right: 10px;
    float: left; /* Floats on right through whole article. */
}

article footer {
    clear: left; /* Ends aside float on articles end. */
}

table.cvTable, table.cvTable tr, table.cvTable td, table.cvTable th {
    border-collapse: collapse;
    border-width: 2px;
    border-style: solid;
}

table.cvTable th, table.cvTable caption, table.cvTable .rowHeader {
    text-transform: capitalize; /*cvTable captions and column/row headers (th) should be Capitalized*/
}

table.cvTable td, table.cvTable th {
    padding: 15px; /*cells shouldn't be squeezed - padding for text inside*/
}

table.cvTable th, table.cvTable .rowHeader {
    background-color: rgba(240, 233, 29, 0.60);
    background-blend-mode: lighten;
    font-weight: bold;
}

table.cvTable {
    margin: 15px;
}

form input, form select {
    background-color: rgba(242, 233, 221, 0.70);
    border: 1px solid;
    margin: 2px;
}

form td input {
    text-indent: 5px;
}

.formInputLabel {
    float: left;
    width: 70px;
}

form input[type=reset]:hover, form input[type=submit]:hover {
    background-color: rgba(240, 233, 29, 0.8);
}

form fieldset {
    margin: 10px;
}

.skillsTable {
    display: inline-block;
    vertical-align: middle;
}

.saveButton {
    width: 100px;
    height: 30px;
    font-weight: bold;
    font-size: large;
    text-transform: capitalize;
    display: inline-block;
    vertical-align: middle;
    margin-left: 100px;
}

.editButton {
    margin-left: 15px;
    height: 30px;
    width: 50px;
    text-transform: uppercase;
    font-weight: bold;
}

section ul {
    list-style-type: none;
}

section ul li:before {
    content: '';
    display: inline-block;
    height: 13px;
    width: 13px;
    background-size: 13px;
    /*background-image: url("#{resource['default/img/finger.png']}");*/
    /*background-repeat: no-repeat;*/
    margin-right: 5px;
}

.selectLanguageForm, .selectLanguageButton {
    float: right;
}

table {
    margin-top: 10px;
    margin-bottom: 20px;
}

h3 {
    margin: 4px;
    display: inline-block;
}

.addButton {
    margin-left: 30px;
    display: inline-block;
}