<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:p="http://primefaces.org/ui"
        template="template.xhtml">

    <ui:define name="content">
        <h:form id="addItemForm" enctype="multipart/form-data">
            <h3>add item</h3>

            <h:panelGrid columns="2" columnClasses="label, value" cellpadding="5">

                <h:outputLabel value="#{msg.name}" />
                <p:inputText value="#{createItem.newItem.name}" required="true"/>

                <p:outputLabel for="warehouseInput" value="#{msg.warehouse}"/>
                <p:selectOneMenu id="warehouseInput" value="#{createItem.newItem.warehouse}" style="width:125px">
                    <f:selectItems value="#{createItem.warehouses}"/>
                </p:selectOneMenu>

                <p:outputLabel for="categoryInput" value="#{msg.category}"/>
                <p:selectOneMenu id="categoryInput" value="#{createItem.newItem.category}" style="width:125px">
                    <f:selectItems value="#{createItem.categories}"/>
                </p:selectOneMenu>

                <p:outputLabel for="departmentInput" value="#{msg.department}"/>
                <p:selectOneMenu id="departmentInput" value="#{createItem.newItem.department}" style="width:125px">
                    <f:selectItems value="#{createItem.departments}"/>
                </p:selectOneMenu>

                <h:outputLabel for="multiTagsSelect" value="#{msg.tag}" />
                <p:selectCheckboxMenu id="multiTagsSelect" converter="tagConverter" value="#{createItem.newItem.tags}" label="Tags" multiple="true"
                                      filter="true" filterMatchMode="startsWith" panelStyle="width:250px">
                    <f:selectItems value="#{createItem.tags}" />
                </p:selectCheckboxMenu>

                <h:inputFile value="#{createItem.imageFile}"/><br/>

            </h:panelGrid>

            <p:commandButton update="addItemForm" value="#{msg.addToDataBase}" actionListener="#{createItem.createItem()}" ajax="false" style="margin-top:10px;">
            </p:commandButton>

        </h:form>
    </ui:define>

</ui:composition>