<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:p="http://primefaces.org/ui"
        template="template.xhtml">

    <ui:define name="content">
        <h:form id="form">

            <p:dataTable id="CategoryRB" var="category" value="#{categoriesList.categories}"
                         selection="#{categoriesList.selectedCategory}" rowKey="#{category.name}" style="margin-bottom:0">
                <f:facet name="header">
                    #{msg.categories}
                </f:facet>
                <p:column selectionMode="single" style="width:16px;text-align:center"/>
                <p:column>
                    <h:outputText value="#{category.name}"/>
                </p:column>
                <f:facet name="footer">
                    <p:commandButton process="CategoryRB" update=":form:addDial" icon="fa fa-plus"
                                     value="#{msg.add}" oncomplete="PF('catAddDialog').show()"/>
                    <p:commandButton process="CategoryRB" update=":form:edDial" icon="fa fa-edit"
                                     value="#{msg.edit}" oncomplete="PF('catEditDialog').show()"/>
                    <p:commandButton process="CategoryRB" update=":form:remDial" icon="fa fa-trash"
                                     value="#{msg.delete}" oncomplete="PF('catDeleteDialog').show()"/>
                </f:facet>
            </p:dataTable>

            <p:dialog header="#{msg.removeSelectedCategory}" widgetVar="catDeleteDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false" width="220">
                <p:outputPanel id="remDial" style="text-align:center;">
                    <ui:repeat value="#{categoriesList.selectedCategory}" var="category">
                        <h:outputText value="#{category.name}" style="display:block"/>
                    </ui:repeat>
                </p:outputPanel>
                <p:commandButton update="@form" value="#{msg.delete}" actionListener="#{categoriesList.deleteCategory()}" oncomplete="PF('catDeleteDialog').hide()" icon="fa fa-trash" />
                <p:commandButton value="#{msg.cancel}" oncomplete="PF('catDeleteDialog').hide()" icon="fa fa-trash" />
            </p:dialog>

            <p:dialog header="#{msg.addNewCategory}" widgetVar="catAddDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:outputPanel id="addDial" style="text-align:center;">
                    <p:panelGrid  columns="2" rendered="#{not empty categoriesList.newCategory}" columnClasses="label,value">

                        <h:outputText value="#{msg.name}" />
                        <h:inputText value="#{categoriesList.newCategory.name}"/>

                    </p:panelGrid>
                </p:outputPanel>
                <p:commandButton update="@form" value="#{msg.add}" id="addCat" actionListener="#{categoriesList.createCategory()}" oncomplete="PF('catAddDialog').hide()" icon="fa fa-plus" />
                <p:commandButton value="#{msg.cancel}" id="cancelAddCat" oncomplete="PF('catAddDialog').hide()" />
            </p:dialog>

            <p:dialog header="#{msg.editSelectedCategory}" widgetVar="catEditDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:outputPanel id="edDial" style="text-align:center;">
                    <p:panelGrid columns="2" rendered="#{not empty categoriesList.selectedCategory}" columnClasses="label,value">

                        <h:outputText value="#{msg.name}" />
                        <h:inputText value="#{categoriesList.selectedCategory.name}"/>

                    </p:panelGrid>
                </p:outputPanel>
                <p:commandButton update="@form" value="#{msg.edit}" id="editCat" actionListener="#{categoriesList.editSelectedCategory()}" oncomplete="PF('catEditDialog').hide()" icon="fa fa-edit" />
                <p:commandButton value="#{msg.cancel}" id="cancelEditCat" oncomplete="PF('catEditDialog').hide()"/>
            </p:dialog>

            <p:growl id="growl" showDetail="true" sticky="true" />

        </h:form>
    </ui:define>

</ui:composition>