<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:p="http://primefaces.org/ui"
        template="template.xhtml">

    <ui:define name="content">
        <h:form id="form">

            <p:dataTable id="DepartmentRB" var="department" value="#{departmentsList.departments}"
                         selection="#{departmentsList.selectedDepartment}" rowKey="#{department.name}" style="margin-bottom:0">
                <f:facet name="header">
                    #{msg.departments}
                </f:facet>
                <p:column selectionMode="single" style="width:16px;text-align:center"/>
                <p:column>
                    <h:outputText value="#{department.name}"/>
                </p:column>
                <f:facet name="footer">
                    <p:commandButton process="DepartmentRB" update=":form:addDial" icon="fa fa-plus"
                                     value="#{msg.add}" oncomplete="PF('depAddDial').show()"/>
                    <p:commandButton process="DepartmentRB" update=":form:edDial" icon="fa fa-edit"
                                     value="#{msg.edit}" oncomplete="PF('depEditDial').show()"/>
                    <p:commandButton process="DepartmentRB" update=":form:remDial" icon="fa fa-trash"
                                     value="#{msg.delete}" oncomplete="PF('depDeleteDial').show()"/>
                </f:facet>
            </p:dataTable>
            <p:dialog header="#{msg.removeSelectedDepartment}" widgetVar="depDeleteDial" modal="true" showEffect="fade" hideEffect="fade" resizable="false" width="220">
                <p:outputPanel id="remDial" style="text-align:center;">
                    <ui:repeat value="#{departmentsList.selectedDepartment}" var="department">
                        <h:outputText value="#{department.name}" style="display:block"/>
                    </ui:repeat>
                </p:outputPanel>
                <p:commandButton update="@form" value="#{msg.delete}" actionListener="#{departmentsList.deleteDepartment()}" oncomplete="PF('depDeleteDial').hide()" icon="fa fa-trash" />
                <p:commandButton value="#{msg.cancel}" oncomplete="PF('depDeleteDial').hide()" icon="fa fa-trash" />
            </p:dialog>

            <p:dialog header="#{msg.addNewDepartment}" widgetVar="depAddDial" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:outputPanel id="addDial" style="text-align:center;">
                    <p:panelGrid  columns="2" rendered="#{not empty departmentsList.newDepartment}" columnClasses="label,value">

                        <h:outputText value="#{msg.name}" />
                        <h:inputText value="#{departmentsList.newDepartment.name}"/>

                    </p:panelGrid>
                </p:outputPanel>
                <p:commandButton update="@form" value="#{msg.add}" id="addDep" actionListener="#{departmentsList.createDepartment()}" oncomplete="PF('depAddDial').hide()" icon="fa fa-plus" />
                <p:commandButton value="#{msg.cancel}" id="cancelAddDep" oncomplete="PF('depAddDial').hide()" />
            </p:dialog>

            <p:dialog header="#{msg.editSelectedDepartment}" widgetVar="depEditDial" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:outputPanel id="edDial" style="text-align:center;">
                    <p:panelGrid columns="2" rendered="#{not empty departmentsList.selectedDepartment}" columnClasses="label,value">

                        <h:outputText value="#{msg.name}" />
                        <h:inputText value="#{departmentsList.selectedDepartment.name}"/>

                    </p:panelGrid>
                </p:outputPanel>
                <p:commandButton update="@form" value="#{msg.edit}" id="editDep" actionListener="#{departmentsList.editSelectedDepartment()}" oncomplete="PF('depEditDial').hide()" icon="fa fa-edit" />
                <p:commandButton value="#{msg.cancel}" id="cancelEditDep" oncomplete="PF('depEditDial').hide()"/>
            </p:dialog>

            <p:growl id="growl" showDetail="true" sticky="true" />

        </h:form>
    </ui:define>

</ui:composition>