<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<f:view>
    <h:head>
        <title>Package Receiver App</title>
        <meta charset="UTF-8"/>
        <meta name="description" content="App for receiving packages and managing their storage" />
        <meta name="keywords" content="packages, manager, warehouse, storage" />
        <meta name="author" content="author1, author2" />
        <f:metadata>
            <f:viewParam name="imageId" value="#{util.imageId}" />
        </f:metadata>
    </h:head>

    <h:body>
        <p:graphicImage value="#{util.getImage(util.imageId)}" cache="none"/>
    </h:body>

</f:view>
</html>