<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:p="http://primefaces.org/ui"
        template="template.xhtml">

    <ui:define name="content">

        <h:form cache="none">
            <p:dataTable id="itemsDT" var="item" value="#{itemsList.items}" widgetVar="itemsTable" multiViewState="true"
                         rows="10" paginator="true"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="10,25,50"
                         draggableColumns="true"
                         selectionMode="single" selection="#{itemsList.selectedItem}" rowKey="#{item.id}"
                         emptyMessage="#{msg.Noitemsfoundwithgivencriteria}" filteredValue="#{itemsList.filteredItems}">

                <f:facet name="header">
                    <p:outputPanel>
                        <h:outputText value="#{msg.Searchallfields}" />
                        <p:inputText id="globalFilter" onkeyup="PF('itemsTable').filter()" style="width:150px" placeholder="#{msg.enterkeyword}"/>

                        <p:commandButton id="toggler" type="button" value="#{msg.Columns}" style="float:right" icon="fa fa-list-alt" />
                        <p:columnToggler datasource="itemsDT" trigger="toggler" />
                    </p:outputPanel>
                </f:facet>

                <p:ajax event="rowSelect" update="@form:itemDetail" oncomplete="PF('itemDialog').show()" />

                <p:column headerText="Id" filterBy="#{item.id}" sortBy="#{item.id}" filterMatchMode="contains" style="width:35px; text-align: center">
                    <h:outputText value="#{item.id}"/>
                </p:column>

                <p:column headerText="#{msg.date}" filterBy="#{item.dateTime}" sortBy="#{item.dateTime}" filterMatchMode="contains" style="width:110px">
                    <h:outputText value="#{item.dateTime}" />
                </p:column>

                <p:column headerText="#{msg.name}" filterBy="#{item.name}" sortBy="#{item.name}" filterMatchMode="contains">
                    <h:outputText value="#{item.name}" />
                </p:column>

                <p:column headerText="#{msg.warehouse}" filterBy="#{item.warehouse.name}" sortBy="#{item.warehouse.name}" filterMatchMode="exact">
                    <f:facet name="filter">
                        <p:selectOneMenu onchange="PF('itemsTable').filter()" style="width:100px;" >
                            <f:selectItem itemLabel="#{msg.selectone}" itemValue="#{null}" noSelectionOption="true" />
                            <f:selectItems value="#{itemsList.warehouses}" />
                        </p:selectOneMenu>
                    </f:facet>
                    <h:outputText value="#{item.warehouse.name}" />
                </p:column>

                <p:column headerText="#{msg.category}" filterBy="#{item.category.name}" sortBy="#{item.category.name}" filterMatchMode="exact">
                    <f:facet name="filter">
                        <p:selectOneMenu onchange="PF('itemsTable').filter()" style="width:100px;" >
                            <f:selectItem itemLabel="#{msg.selectone}" itemValue="#{null}" noSelectionOption="true" />
                            <f:selectItems value="#{itemsList.categories}" />
                        </p:selectOneMenu>
                    </f:facet>
                    <h:outputText value="#{item.category.name}" />
                </p:column>

                <p:column headerText="#{msg.department}" filterBy="#{item.department.name}" sortBy="#{item.department.name}" filterMatchMode="exact">
                    <f:facet name="filter">
                        <p:selectOneMenu onchange="PF('itemsTable').filter()" style="width:100px;" >
                            <f:selectItem itemLabel="#{msg.selectone}" itemValue="#{null}" noSelectionOption="true" />
                            <f:selectItems value="#{itemsList.departments}" />
                        </p:selectOneMenu>
                    </f:facet>
                    <h:outputText value="#{item.department.name}" />
                </p:column>

                <p:column headerText="#{msg.tag}" filterBy="#{item.tagsAsString}" filterFunction="#{itemsList.filterByTags}">
                    <f:facet name="filter">
                        <p:selectCheckboxMenu label="#{msg.tags}" onchange="PF('itemsTable').filter()" style="width:80px;" panelStyle="width:125px" scrollHeight="150">
                            <f:selectItems value="#{itemsList.tagsAvailable}" />
                        </p:selectCheckboxMenu>
                    </f:facet>
                    <h:outputText value="#{item.tagsAsString}" />
                </p:column>
            </p:dataTable>

            <p:dialog header="#{msg.ItemInfo}" widgetVar="itemDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:outputPanel id="itemDetail" style="text-align:center;">
                    <p:panelGrid  columns="2" rendered="#{not empty itemsList.selectedItem}" columnClasses="label,value">

                        <f:facet name="header">
                            <h:link outcome="/image" ajax="false" target="_blank" disabled="#{!util.imageExists(itemsList.selectedItem.id)}">
                                <p:graphicImage value="#{util.thumbnail}" cache="none">
                                    <f:param name="id" value="#{itemsList.selectedItem.id}" />
                                </p:graphicImage>
                            </h:link>
                        </f:facet>

                        <h:outputText value="Id" />
                        <h:outputText value="#{itemsList.selectedItem.id}" />

                        <h:outputText value="#{msg.name}" />
                        <h:outputText value="#{itemsList.selectedItem.name}" />

                        <h:outputText value="#{msg.category}" />
                        <h:outputText value="#{itemsList.selectedItem.category.name}" />
                    </p:panelGrid>
                </p:outputPanel>
            </p:dialog>
        </h:form>


    </ui:define>

</ui:composition>
