<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:p="http://primefaces.org/ui"
        template="template.xhtml">
    <ui:define name="content">

        <h:form>
            <p:dataTable id="itemsDT" var="item" value="#{itemsList.items}" widgetVar="itemsTable" multiViewState="true"
                         rows="10" paginator="true"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="10,25,50"
                         draggableColumns="true"
                         selection="#{itemsList.selectedItems}" rowKey="#{item.id}"
                         emptyMessage="#{msg.Noitemsfoundwithgivencriteria}" filteredValue="#{itemsList.filteredItems}">

                <f:facet name="header">
                    <p:outputPanel>
                        <p:commandButton id="deleteItems" update="@form" value="#{msg.deleteSelected}" oncomplete="PF('itemsDeleteDialog').show()" style="float:right" icon="fa fa-trash" />
                        <h:outputText value="#{msg.Searchallfields}" />
                        <p:inputText id="globalFilter" onkeyup="PF('itemsTable').filter()" style="width:150px" placeholder="#{msg.enterkeyword}"/>

                        <p:commandButton id="toggler" type="button" value="#{msg.columns}" style="float:right" icon="fa  fa-list-alt" />
                        <p:columnToggler datasource="itemsDT" trigger="toggler" />
                    </p:outputPanel>
                </f:facet>

                <p:column selectionMode="multiple" style="width:16px; text-align:center"/>

                <p:column headerText="Id" filterBy="#{item.id}" sortBy="#{item.id}" filterMatchMode="contains" style="width:35px; text-align: center">
                    <h:outputText value="#{item.id}" />
                </p:column>

                <p:column headerText="#{msg.photo}" sortBy="#{!util.imageExists(item.id)}" style="width:110px; text-align: center">
                    <p:link outcome="/image" ajax="false" target="_blank" disabled="#{!util.imageExists(item.id)}" rendered="#{util.imageExists(item.id)}">
                        <i class="fa fa-image fa-lg"/>
                        <f:param name="imageId" value="#{item.id}" />
                    </p:link>
                </p:column>

                <p:column headerText="#{msg.date}" filterBy="#{item.dateTime}" sortBy="#{item.dateTime}" filterMatchMode="contains" style="width:110px">
                    <h:outputText value="#{item.dateTime}" />
                </p:column>

                <p:column headerText="#{msg.name}" filterBy="#{item.name}" sortBy="#{item.name}" filterMatchMode="contains">
                    <h:outputText value="#{item.name}" />
                </p:column>

                <p:column headerText="#{msg.warehouse}" filterBy="#{item.warehouse.name}" sortBy="#{item.warehouse.name}" filterMatchMode="exact">
                    <f:facet name="filter">
                        <p:selectOneMenu onchange="PF('itemsTable').filter()" style="width:100px;" >
                            <f:selectItem itemLabel="#{msg.selectone}" itemValue="#{null}" noSelectionOption="true" />
                            <f:selectItems value="#{itemsList.warehouses}" />
                        </p:selectOneMenu>
                    </f:facet>
                    <h:outputText value="#{item.warehouse.name}" />
                </p:column>

                <p:column headerText="#{msg.category}" filterBy="#{item.category.name}" sortBy="#{item.category.name}" filterMatchMode="exact">
                    <f:facet name="filter">
                        <p:selectOneMenu onchange="PF('itemsTable').filter()" style="width:100px;" >
                            <f:selectItem itemLabel="#{msg.selectone}" itemValue="#{null}" noSelectionOption="true" />
                            <f:selectItems value="#{itemsList.categories}" />
                        </p:selectOneMenu>
                    </f:facet>
                    <h:outputText value="#{item.category.name}" />
                </p:column>

                <p:column headerText="#{msg.department}" filterBy="#{item.department.name}" sortBy="#{item.department.name}" filterMatchMode="exact">
                    <f:facet name="filter">
                        <p:selectOneMenu onchange="PF('itemsTable').filter()" style="width:100px;" >
                            <f:selectItem itemLabel="#{msg.selectone}" itemValue="#{null}" noSelectionOption="true" />
                            <f:selectItems value="#{itemsList.departments}" />
                        </p:selectOneMenu>
                    </f:facet>
                    <h:outputText value="#{item.department.name}" />
                </p:column>

                <p:column headerText="#{msg.tag}" filterBy="#{item.tagsAsString}" filterFunction="#{itemsList.filterByTags}">
                    <f:facet name="filter">
                        <p:selectCheckboxMenu label="#{msg.tags}" onchange="PF('itemsTable').filter()" style="width:80px;" panelStyle="width:125px" scrollHeight="150">
                            <f:selectItems value="#{itemsList.tagsAvailable}" />
                        </p:selectCheckboxMenu>
                    </f:facet>
                    <h:outputText value="#{item.tagsAsString}" />
                </p:column>

                <f:facet name="footer">
                    <p:outputPanel>

                    </p:outputPanel>
                </f:facet>

            </p:dataTable>

            <p:dialog header="Delete items?" widgetVar="itemsDeleteDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false" width="660">
                <p:outputPanel id="deleteItemsDetail" style="text-align:center;">

                    <p:dataTable var="item" value="#{itemsList.selectedItems}">
                        <p:column headerText="#{msg.name}">
                            <h:outputText value="#{item.name}" />
                        </p:column>

                        <p:column headerText="#{msg.category}">
                            <h:outputText value="#{item.category.name}" />
                        </p:column>

                        <p:column headerText="#{msg.warehouse}">
                            <h:outputText value="#{item.warehouse.name}" />
                        </p:column>

                        <p:column headerText="#{msg.department}">
                            <h:outputText value="#{item.department.name}" />
                        </p:column>

                        <p:column headerText="#{msg.tags}">
                            <h:outputText value="#{item.tagsAsString}" />
                        </p:column>

                        <p:column headerText="#{msg.date}">
                            <h:outputText value="#{item.dateTime}" />
                        </p:column>
                    </p:dataTable>

                    <p:commandButton update="@form" value="#{msg.delete}" id="deleteItem" actionListener="#{itemsList.deleteSelectedItems()}" oncomplete="PF('itemsDeleteDialog').hide()" icon="ui-icon-trash" />
                    <p:commandButton value="#{msg.cancel}" id="cancelDeleteItem" oncomplete="PF('itemsDeleteDialog').hide()" />
                </p:outputPanel>

            </p:dialog>
        </h:form>


    </ui:define>

</ui:composition>
