<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:p="http://primefaces.org/ui"
        template="template.xhtml">

    <ui:define name="content">
        <h:form method="post">
        <h:panelGrid columns="2">
                <h:outputLabel for="username" value="#{msg.username}"/>
                <h:inputText type="text" id="username" value="#{redirect.username}"/>
                <h:outputLabel for="password" value="#{msg.password}"/>
                <h:inputSecret type="password" id="password" value="#{redirect.password}"/>
                <h:commandButton value="#{msg.login}" action="#{redirect.login}" type="submit"/>
        </h:panelGrid>
            <br/>        </h:form>
    </ui:define>
</ui:composition>
