<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:p="http://primefaces.org/ui"
        template="template.xhtml">

    <ui:define name="content">
        <h:form id="form">

            <p:dataTable id="TagRB" var="tag" value="#{tagsList.tags}"
                         selection="#{tagsList.selectedTag}" rowKey="#{tag.name}" style="margin-bottom:0">
                <f:facet name="header">
                    #{msg.tags}
                </f:facet>
                <p:column selectionMode="single" style="width:16px;text-align:center"/>
                <p:column>
                    <h:outputText value="#{tag.name}"/>
                </p:column>
                <f:facet name="footer">
                    <p:commandButton process="TagRB" update=":form:addDial" icon="fa fa-plus"
                                     value="#{msg.add}" oncomplete="PF('tagAddDial').show()"/>
                    <p:commandButton process="TagRB" update=":form:edDial" icon="fa fa-edit"
                                     value="#{msg.edit}" oncomplete="PF('tagEditDial').show()"/>
                    <p:commandButton process="TagRB" update=":form:remDial" icon="fa fa-trash"
                                     value="#{msg.delete}" oncomplete="PF('tagDeleteDial').show()"/>
                </f:facet>
            </p:dataTable>
            <p:dialog header="#{msg.removeSelectedTag}" widgetVar="tagDeleteDial" modal="true" showEffect="fade" hideEffect="fade" resizable="false" width="220">
                <p:outputPanel id="remDial" style="text-align:center;">
                    <ui:repeat value="#{tagsList.selectedTag}" var="tag">
                        <h:outputText value="#{tag.name}" style="display:block"/>
                    </ui:repeat>
                </p:outputPanel>
                <p:commandButton update="@form" value="#{msg.delete}" actionListener="#{tagsList.deleteTag()}" oncomplete="PF('tagDeleteDial').hide()" icon="fa fa-trash" />
                <p:commandButton value="#{msg.cancel}" oncomplete="PF('tagDeleteDial').hide()" icon="fa fa-trash" />
            </p:dialog>

            <p:dialog header="#{msg.addNewTag}" widgetVar="tagAddDial" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:outputPanel id="addDial" style="text-align:center;">
                    <p:panelGrid  columns="2" rendered="#{not empty tagsList.newTag}" columnClasses="label,value">

                        <h:outputText value="#{msg.name}" />
                        <h:inputText value="#{tagsList.newTag.name}"/>

                    </p:panelGrid>
                </p:outputPanel>
                <p:commandButton update="@form" value="#{msg.add}" id="addDep" actionListener="#{tagsList.createTag()}" oncomplete="PF('tagAddDial').hide()" icon="fa fa-plus" />
                <p:commandButton value="#{msg.cancel}" id="cancelAddTag" oncomplete="PF('tagAddDial').hide()" />
            </p:dialog>

            <p:dialog header="#{msg.editSelectedTag}" widgetVar="tagEditDial" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:outputPanel id="edDial" style="text-align:center;">
                    <p:panelGrid columns="2" rendered="#{not empty tagsList.selectedTag}" columnClasses="label,value">

                        <h:outputText value="#{msg.name}" />
                        <h:inputText value="#{tagsList.selectedTag.name}"/>

                    </p:panelGrid>
                </p:outputPanel>
                <p:commandButton update="@form" value="#{msg.edit}" id="editDep" actionListener="#{tagsList.editSelectedTag()}" oncomplete="PF('tagEditDial').hide()" icon="fa fa-edit" />
                <p:commandButton value="#{msg.cancel}" id="cancelEditTag" oncomplete="PF('tagEditDial').hide()"/>
            </p:dialog>

            <p:growl id="growl" showDetail="true" sticky="true" />

        </h:form>
    </ui:define>

</ui:composition>