<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<f:view>
    <h:head>
        <title>Package Receiver App</title>
        <meta charset="UTF-8"/>
        <meta name="description" content="App for receiving packages and managing their storage" />
        <meta name="keywords" content="packages, manager, warehouse, storage" />
        <meta name="author" content="author1, author2" />
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"></link>
        <h:outputStylesheet library="default" name="css/styles.css"/>
        <f:loadBundle basename="locale.msg" var="msg"/>
    </h:head>

    <h:body>
    <header>
        <h1>Package Receiver App</h1>
    </header>
    <nav>
        <ul>
            <!--<li><h:link outcome="login" value="login" rendered="#{roleView.guest}"/></li>-->
            <h:form>
            <li><h:commandLink value="#{msg.logout}" action="#{redirect.logout}" rendered="#{!roleView.guest}"/></li>
            </h:form>
            <li><h:link outcome="login" value="#{msg.login}" rendered="#{roleView.guest}"/></li>
            <li><h:link outcome="items" value="#{msg.items}" rendered="#{!roleView.admin}"/></li>
            <li><h:link outcome="items_admin" value="#{msg.items}" rendered="#{roleView.admin}"/></li>
            <li><h:link outcome="add_item" value="#{msg.addItems}"/></li>
            <li><h:link outcome="users" value="#{msg.users}" rendered="#{roleView.admin}"/></li>
            <li><h:link outcome="categories" value="#{msg.categories}" rendered="#{roleView.admin}"/></li>
            <li><h:link outcome="departments" value="#{msg.departments}" rendered="#{roleView.admin}"/></li>
            <li><h:link outcome="tags" value="#{msg.tags}" rendered="#{roleView.admin}"/></li>
            <li><h:link outcome="warehouses" value="#{msg.warehouses}" rendered="#{roleView.admin}"/></li>
        </ul>
    </nav>
    <section>
        <ui:insert name="content"/>
    </section>
    <footer>&#169; Copyright 2018 <a href="http://codementors.pl/">http://codementors.pl/</a></footer>
    </h:body>

</f:view>
</html>
