<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:p="http://primefaces.org/ui"
        template="template.xhtml">

    <ui:define name="content">

        <h:form id="form">

            <p:dataTable id="usersRadioDT" var="user" value="#{usersList.users}" selection="#{usersList.selectedUser}" rowKey="#{user.login}">
                <f:facet name="header">
                    #{msg.users}
                </f:facet>
                <p:column selectionMode="single" style="width:16px;text-align:center"/>
                <p:column headerText="#{msg.surname}">
                    <h:outputText value="#{user.surname}" />
                </p:column>

                <p:column headerText="#{msg.userName}">
                    <h:outputText value="#{user.name}" />
                </p:column>

                <p:column headerText="#{msg.userLogin}">
                    <h:outputText value="#{user.login}" />
                </p:column>

                <p:column headerText="#{msg.role}">
                    <h:outputText value="#{user.role}" />
                </p:column>
                <f:facet name="footer">
                    <p:commandButton process="usersRadioDT" update=":form:uA" icon="fa fa-user-plus" value="#{msg.add}" oncomplete="PF('userAddDialog').show()" />
                    <p:commandButton process="usersRadioDT" update=":form:uE" icon="fa fa-edit" value="#{msg.edit}" oncomplete="PF('userEditDialog').show()" />
                    <p:commandButton process="usersRadioDT" update=":form:uD" icon="fa fa-trash" value="#{msg.delete}" oncomplete="PF('userDeleteDialog').show()" />
                </f:facet>
            </p:dataTable>

            <p:dialog header="#{msg.ConfirmDeleteUser}" widgetVar="userDeleteDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:outputPanel id="uD" style="text-align:center;">
                    <p:panelGrid columns="2" rendered="#{not empty usersList.selectedUser}" columnClasses="label,value">

                        <h:outputText value="#{msg.surname}" />
                        <h:outputText value="#{usersList.selectedUser.surname}" />

                        <h:outputText value="#{msg.userName}" />
                        <h:outputText value="#{usersList.selectedUser.name}" />

                        <h:outputText value="#{msg.userLogin}" />
                        <h:outputText value="#{usersList.selectedUser.login}"/>

                        <h:outputText value="#{msg.role}" />
                        <h:outputText value="#{usersList.selectedUser.role}" />
                    </p:panelGrid>
                </p:outputPanel>
                <p:commandButton update="@form" value="#{msg.delete}" id="deleteUser" actionListener="#{usersList.deleteSelectedUser()}" oncomplete="PF('userDeleteDialog').hide()" icon="fa fa-trash" />
                <p:commandButton value="#{msg.cancel}" id="cancelDeleteUser" oncomplete="PF('userDeleteDialog').hide()" />
            </p:dialog>

            <p:dialog header="#{msg.EditUserData}" widgetVar="userEditDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:outputPanel id="uE" style="text-align:center;">
                    <p:panelGrid columns="2" rendered="#{not empty usersList.selectedUser}" columnClasses="label,value">

                        <h:outputText value="#{msg.userLogin}" />
                        <h:outputText value="#{usersList.selectedUser.login}"/>

                        <h:outputText value="#{msg.surname}" />
                        <h:inputText value="#{usersList.selectedUser.surname}" />

                        <h:outputText value="#{msg.userName}" />
                        <h:inputText value="#{usersList.selectedUser.name}" />

                        <h:outputText value="#{msg.role}" />
                        <h:selectOneListbox value="#{usersList.selectedUser.role}">
                            <f:selectItems value="#{usersList.roles}"/>
                        </h:selectOneListbox>
                    </p:panelGrid>
                </p:outputPanel>
                <p:commandButton update="@form" value="#{msg.edit}" id="editUser" actionListener="#{usersList.editSelectedUser()}" oncomplete="PF('userEditDialog').hide()" icon="fa fa-edit" />
                <p:commandButton value="#{msg.cancel}" id="cancelEditUser" oncomplete="PF('userEditDialog').hide()" />
            </p:dialog>

            <p:dialog header="#{msg.AddNewUser}" widgetVar="userAddDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:outputPanel id="uA" style="text-align:center;">
                    <p:panelGrid  columns="2" rendered="#{not empty usersList.newUser}" columnClasses="label,value">

                        <h:outputText value="#{msg.userLogin}" />
                        <h:inputText value="#{usersList.newUser.login}"/>

                        <h:outputText value="#{msg.password}" />
                        <h:inputText value="#{usersList.newUser.password}"/>

                        <h:outputText value="#{msg.surname}" />
                        <h:inputText value="#{usersList.newUser.surname}" />

                        <h:outputText value="#{msg.userName}" />
                        <h:inputText value="#{usersList.newUser.name}" />

                        <h:outputText value="#{msg.role}" />
                        <h:selectOneListbox value="#{usersList.newUser.role}">
                            <f:selectItems value="#{usersList.roles}"/>
                        </h:selectOneListbox>
                    </p:panelGrid>
                </p:outputPanel>
                <p:commandButton update="@form" value="#{msg.add}" id="addUser" actionListener="#{usersList.createUser()}" oncomplete="PF('userAddDialog').hide()" icon="fa fa-user-plus" />
                <p:commandButton value="#{msg.cancel}" id="cancelAddUser" oncomplete="PF('userAddDialog').hide()" icon="fa fa-fw fa-remove" />
            </p:dialog>

            <p:growl id="growl" showDetail="true" sticky="true" />

        </h:form>

    </ui:define>

</ui:composition>