<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:p="http://primefaces.org/ui"
        template="template.xhtml">

    <ui:define name="content">
        <h:form id="form">

            <p:dataTable id="WarehouseRB" var="warehouse" value="#{warehousesList.warehouses}"
                         selection="#{warehousesList.selectedWarehouse}" rowKey="#{warehouse.name}" style="margin-bottom:0">
                <f:facet name="header">
                    #{msg.warehouses}
                </f:facet>
                <p:column selectionMode="single" style="width:16px;text-align:center"/>
                <p:column>
                    <h:outputText value="#{warehouse.name}"/>
                </p:column>
                <f:facet name="footer">
                    <p:commandButton process="WarehouseRB" update=":form:addDial" icon="fa fa-plus"
                                     value="#{msg.add}" oncomplete="PF('warAddDial').show()"/>
                    <p:commandButton process="WarehouseRB" update=":form:edDial" icon="fa fa-edit"
                                     value="#{msg.edit}" oncomplete="PF('warEditDial').show()"/>
                    <p:commandButton process="WarehouseRB" update=":form:remDial" icon="fa fa-trash"
                                     value="#{msg.delete}" oncomplete="PF('warDeleteDial').show()"/>

                </f:facet>
            </p:dataTable>
            <p:dialog header="#{msg.removeSelectedWarehouse}" widgetVar="warDeleteDial" modal="true" showEffect="fade" hideEffect="fade" resizable="false" width="220">
                <p:outputPanel id="remDial" style="text-align:center;">
                    <ui:repeat value="#{warehousesList.selectedWarehouse}" var="warehouse">
                        <h:outputText value="#{warehouse.name}" style="display:block"/>
                    </ui:repeat>
                </p:outputPanel>
                <p:commandButton update="@form" value="#{msg.delete}" actionListener="#{warehousesList.deleteWarehouse()}" oncomplete="PF('warDeleteDial').hide()" icon="fa fa-trash" />
                <p:commandButton value="#{msg.cancel}" oncomplete="PF('warDeleteDial').hide()" icon="fa fa-trash" />
            </p:dialog>

            <p:dialog header="#{msg.editSelectedWarehouse}" widgetVar="warEditDial" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:outputPanel id="edDial" style="text-align:center;">
                    <p:panelGrid columns="2" rendered="#{not empty warehousesList.selectedWarehouse}" columnClasses="label,value">

                        <h:outputText value="#{msg.name}" />
                        <h:inputText value="#{warehousesList.selectedWarehouse.name}"/>

                    </p:panelGrid>
                </p:outputPanel>
                <p:commandButton update="@form" value="#{msg.edit}" id="editWar" actionListener="#{warehousesList.editSelectedWarehouse()}" oncomplete="PF('warEditDial').hide()" icon="fa fa-edit" />
                <p:commandButton value="#{msg.cancel}" id="cancelEditWar" oncomplete="PF('warEditDial').hide()"/>
            </p:dialog>

            <p:dialog header="#{msg.addNewWarehouse}" widgetVar="warAddDial" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:outputPanel id="addDial" style="text-align:center;">
                    <p:panelGrid columns="2" rendered="#{not empty warehousesList.newWarehouse}" columnClasses="label,value">

                        <h:outputText value="#{msg.name}" />
                        <h:inputText value="#{warehousesList.newWarehouse.name}"/>

                    </p:panelGrid>
                </p:outputPanel>
                <p:commandButton update="@form" value="#{msg.add}" id="addWar" actionListener="#{warehousesList.createWarehouse()}" oncomplete="PF('warAddDial').hide()" icon="fa fa-plus" />
                <p:commandButton value="#{msg.cancel}" id="cancelAddWar" oncomplete="PF('warAddDial').hide()" />
            </p:dialog>

            <p:growl id="growl" showDetail="true" sticky="true" />

        </h:form>
    </ui:define>

</ui:composition>